* {
  box-sizing: border-box;
}
*:focus {
  outline: 1px dotted #0eb4c1;
  outline-offset: 3px;
}
body {
  padding: 0;
  margin: 0;
  font-family: "Open Sans", Arial, sans-serif;
}
h1,
h2,
h3,
h4,
h5,
h6,
p,
span,
ul,
li {
  padding: 0;
  margin: 0;
}
.container {
  width: 100%;
  max-width: 1140px;
  padding-left: 20px;
  padding-right: 20px;
  margin-left: auto;
  margin-right: auto;
}
/* ------------------------------------ */
.main-link {
  display: inline-block;
  border-radius: 8px;
  padding: 12px 24px;
  background-color: #de2e54;
  font-family: "Open Sans Condensed", Arial, sans-serif;
  font-weight: bold;
  font-size: 15px;
  line-height: 1.5;
  letter-spacing: 2px;
  text-transform: uppercase;
  text-decoration: none;
  color: #fff;
  border: 2px solid transparent;
  transition: background-color 0.4s ease, color 0.4s ease, border 0.4s ease;
}
.main-link:hover {
  background-color: #fff;
  color: #de2e54;
  border: 2px solid #de2e54;
}
.main-link:active {
  background-color: #de2e54;
  color: #fff;
  opacity: 0.6;
}
/* SITE HEADER */

.site-header {
  padding-top: 24px;
  padding-bottom: 24px;
}
.site-header-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.site-logo-link {
  margin-right: 16px;
  transition: opacity 0.4s ease;
}
.site-logo-link:active {
  opacity: 0.6;
}
.site-logo-link + a {
  text-decoration: none;
  color: #222;
  font-family: "Open Sans", Arial, sans-serif;
  font-weight: 600;
  line-height: 33px;
  font-size: 24px;
  transition: color 0.4s ease, opacity 0.4s ease;
}
.site-logo-link + a:hover {
  color: #de2e54;
  transition: opacity 0.4s ease;
}
.site-logo-link + a:active {
  opacity: 0.6;
}
.site-header-left {
  display: flex;
  align-items: center;
}
.site-header-right {
  display: flex;
  align-items: center;
}
.site-nav-list {
  display: flex;
  align-items: center;
  list-style-type: none;
  margin-right: 139px;
}
.site-nav-item {
  margin-right: 32px;
}
.site-nav-item:last-child {
  margin-right: 0;
}
.site-nav-link {
  text-decoration: none;
  color: #222;
  font-family: "Open Sans", Arial, sans-serif;
  font-weight: bold;
  letter-spacing: 2px;
  line-height: 1.5;
  font-size: 14px;
  text-transform: uppercase;
  transition: color 0.4s ease, opacity 0.4s ease;
}
.site-nav-link:hover {
  color: #de2e54;
}
.site-nav-link:active {
  opacity: 0.6;
}
/* HERO */
.hero-link {
  transition: color 0.4s ease, opacity 0.4s ease, background-color 0.4s ease;
}
.hero-link:hover {
  background-color: rgba(222, 46, 84, 0.8);
  color: #fff;
}
.hero-link:active {
  opacity: 0.6;
}
.hero {
  background-color: #0eb4c1;
}
.hero-container {
  display: flex;
}
.hero-left {
  padding-top: 120px;
}
.hero-img {
  margin-top: 30px;
}
.hero-heading {
  font-size: 36px;
  line-height: 1.2;
  font-family: "Open Sans Condensed", "Arial", sans-serif;
  font-weight: bold;
  color: #fff;
  margin-bottom: 16px;
}
.hero-text-content {
  font-size: 18px;
  line-height: 1.5;
  font-family: "Open Sans", "Arial", sans-serif;
  color: #fff;
  margin-bottom: 36px;
}
.hero-left .main-link {
  margin-bottom: 120px;
}

/* SERVICES */
.services {
  padding-top: 120px;
}
.services-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.services-heading {
  text-align: center;
  margin-bottom: 56px;
  font-family: "Open Sans Condensed", "Arial", sans-serif;
  font-weight: bold;
  font-size: 36px;
  line-height: 1.2;
  color: #000;
}
.services-list {
  list-style-type: none;
}
.services-list + a {
  margin-bottom: 120px;
}
.services-list-item {
  display: flex;
  width: 864px;
  margin: 0 auto;
  margin-bottom: 80px;
}
.services-list-item:last-child {
  margin-bottom: 60px;
}
.services-img {
  background-size: cover;
  margin-right: 64px;
  object-fit: cover;
}
.services-list-item-content {
  padding-top: 25px;
  padding-bottom: 25px;
}
.services-item-title {
  margin-bottom: 24px;
  font-size: 24px;
  line-height: 1.2;
  font-weight: bold;
  color: #222;
  font-family: "Open Sans Condensed", "Arial", sans-serif;
}
.services-item-text {
  font-size: 16px;
  line-height: 1.5;
  color: #444;
  font-family: "Open Sans", "Arial", sans-serif;
}

/* REGISTRATION */

.registration-block {
  padding-top: 64px;
  padding-bottom: 64px;
  background-color: #0eb4c1;
}
.registration-heading {
  font-family: "Open Sans Condensed", "Arial", sans-serif;
  font-weight: bold;
  font-size: 36px;
  line-height: 1.2;
  color: #fff;
  margin-bottom: 40px;
  text-align: center;
}
.registration-link {
  font-family: "Open Sans Condensed", "Arial", sans-serif;
  font-weight: 700;
  border: 2px solid #fff;
  border-radius: 8px;
  padding: 12px 24px;
  display: inline-block;
  text-decoration: none;
  margin-right: 40px;
  color: #fff;
  letter-spacing: 2px;
  text-transform: uppercase;
  transition: background-color 0.4s ease, color 0.4s ease,
    border-color 0.4s ease, opacity 0.4s ease;
}
.registration-link:hover {
  background-color: #de2e54;
  color: #fff;
  border-color: #de2e54;
}
.registration-link:active {
  opacity: 0.6;
}
.registration-link:last-child {
  margin-right: 0;
}
.registration-links-wrapper {
  display: flex;
  justify-content: center;
}
/* FOOTER */
.site-footer {
  background-color: #222;
}
.site-footer-container {
  padding-top: 24px;
  padding-bottom: 24px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.site-footer-left {
  display: flex;
  align-items: center;
}
.site-footer-left a {
  color: #fff;
}
.site-footer-left a + a:active {
  color: #fff;
}
.site-footer-list {
  display: flex;
  list-style-type: none;
}
.site-footer-item {
  margin-right: 32px;
}
.site-footer-item:last-child {
  margin-right: 0;
}
.site-footer-link {
  text-decoration: none;
  color: #fff;
  font-family: "Open Sans", "Arial", sans-serif;
  font-size: 14px;
  line-height: 1.5;
  font-weight: bold;
  letter-spacing: 2px;
  text-transform: uppercase;
  transition: color 0.4s ease, opacity 0.4s ease;
}
.site-footer-link:hover {
  color: #de2e54;
}
.site-footer-link:active {
  color: #fff;
  opacity: 0.6;
}
